body{
    background: linear-gradient(to right, red, black 80%);
}
.knobki{
    background: linear-gradient(to right, yellow, black 80%);
    height: 60px;
    margin-top: 1px;
}
.knobki button {
    width: 150px;
    height: 40px;
    background-color: white; 
    color: red; 
    border: none; 
    border-radius: 12px;
    text-align: center;
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
}
button[name="nasvel"] {
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 40px;
}
button[name="podderska"] {
    width: 200px;
}
.glav{
    background-color: brown;
    color: whitesmoke;
    text-align: center;
    height: 400px; 
    width: 60%;
    margin-top: 100px ;
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
button[name="discord"]{
    background-color: blue;
    color: azure;
    height: 45px;
    cursor: pointer;
    border: none;
    display: block;
    margin: 0 auto;
}
.avatar{
    margin-left: 30px; 
    margin-right: 30px;
}
button[name="discord"] img {
    margin-right: 10px; 
}


